@import '../app.component.scss';

// ======================================================
//  Mobile Display - This applies from 0px to 600px
// ======================================================
.content-about-me{
  width: 100%;
}

.header-about-me {
  margin: 0 20px;
  direction: inline-flex;;
}

.body-about-me {
  position: relative;
    display: flex;
    flex-direction: row;
}

.sub-body-about-me {
  // border: solid 1px black;
  flex-direction: column;
  width: 50%;
}
// ======================================================
// Desktop Display - This applies from 600px onwards
// ======================================================
@media (min-width: 600px) {
  .body-about-me {
    margin: 0 20px;
    display: flex;
    // flex-direction: row;
  }
  .sub-body-about-me {
      margin: 0 5px;
      font-style: italic;
      // flex-direction: row;
    }
}

// ======================================================
//      Radio Button
// ======================================================
.season-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.season-radio-button {
  margin: 5px;
}