<!-- <div class='content-about-me'>
  

  <div class='body-about-me'>
    <div class="sub-body-about-me">
      <h3>Hi there!</h3>
      <label id="season-radio-group-label">Pick your favorite season</label>
      <mat-radio-group aria-labelledby="season-radio-group-label" class="season-radio-group"
        [(ngModel)]="favoriteSeason">
        <mat-radio-button class="season-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
      <div>
        Your favorite season is: {{favoriteSeason}}
      </div>
    </div>
  </div> -->

<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../../assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="../../assets/css/noscript.css" /></noscript>
</head>

<div id="main">

  <article class="post featured">
    <header class="major">
      <h2><a href="#">And this is <br />
          my playground</a></h2>
      <p>When I'm away from screen, <br />I'm most probably planning my next getaway or
        <br />listening to podcast while trying to perfect my Yoga pose.</p>
    </header>
  </article>

  <section class="posts">
    <article>
      <header>
        <h2><a href="/Pomodoro">Pomodoro</a></h2>
      </header>
      <a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
      <p>A learning project on Pomodoro Timer.</p>
      <ul class="actions special">
        <li><a href="/Pomodoro" class="button">Take a look</a></li>
      </ul>
    </article>
    <article>
      <header>
        <h2><a href="/Todo">To Do</a></h2>
      </header>
      <a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
      <p>A To Do App that counts the things that you need to do.</p>
      <ul class="actions special">
        <li><a href="/Todo" class="button">Check it out</a></li>
      </ul>
    </article>
  </section>
</div>


<!-- 
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/jquery.scrollex.min.js"></script>
  <script src="../../assets/js/jquery.scrolly.min.js"></script>
  <script src="../../assets/js/browser.min.js"></script>
  <script src="../../assets/js/breakpoints.min.js"></script>
  <script src="../../assets/js/util.js"></script>
  <script src="../../assets/js/main.js"></script>
</body> -->



</html>