table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .example-element-description {
    padding: 16px;
    width: 100%;
  }
  
  .example-element-description__cell {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .example-element-description__header {
    color:#777;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .example-element-description__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .example-element-description__content div,
  .example-element-description__header div {
    width: 10%;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  