<div class="background">
  <div class="navbar">
    <a routerLink="/AboutMe">Me</a>
    <a routerLink="/Dreams">Dreams</a>
    <div class="dropdown">
      <button class="dropbtn">Projects
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/Mat">AngularMat</a>
        <a href="/ArcGIS">ArcGIS</a>
        <a href="#">DHTMLX</a>
        <a href="#">Brewing In Progress</a>
      </div>
    </div>
  </div>
  <div class='content'>
    <router-outlet></router-outlet>
  </div>
</div>