<!-- <div class="overall-background">
  <div class="navbar">
    <a routerLink="/AboutMe">Me</a>
    <a routerLink="/Dreams">Dreams</a>
    <div class="dropdown">
      <button class="dropbtn">Projects
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/Pomodoro">Pomodoro</a>
        <a href="/Todo">To Do</a>
        <a href="/Mat">AngularMat</a>

        <a href="/ArcGIS">ArcGIS</a>
        <a href="#">DHTMLX</a>
        <a href="#">Brewing In Progress</a>
      </div>
    </div>
  </div>
  <div class='content'>
    <router-outlet></router-outlet>
  </div>
</div> -->

<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

  <!-- Header -->
  <header id="header">
    <a href="" class="logo">Massively</a>
    <ul>
      <li>Tralala</li>
    </ul>
  </header>

  <!-- Wrapper -->
  <div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
      <h1>This is<br />
        ZoieT</h1>
      <p>Hi there, I'm an indie web developer from the Land of Merlion. This is my page where I showcase my
        personal projects.
      </p>
      <ul class="actions">
        <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
      </ul>
    </div>

    <!-- Header -->
    <header id="header">
      <a href="index.html" class="logo">Massively</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
      <ul class="links">
        <li class="active"><a href="index.html">Zoiet Works</a></li>
        <li><a href="generic.html">Generic Page</a></li>
        <li><a href="elements.html">Elements Reference</a></li>
      </ul>
      <ul class="icons">
        <li><a href="https://www.linkedin.com/in/zoe-tan-4506ba13a" class="icon brands fa-linkedin"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/zoiet" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main">

      <router-outlet></router-outlet>

    </div>

    <!-- Footer -->
    <footer id="footer">
      <section class="split contact">
        <section>
          <h3>Email</h3>
          <p><a href="#">info@untitled.tld</a></p>
        </section>
        <section>
          <h3>Social</h3>
          <ul class="icons alt">
            <li><a href="https://www.linkedin.com/in/zoe-tan-4506ba13a" class="icon brands fa-linkedin"><span
                  class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/zoiet" class="icon brands fa-github"><span class="label">GitHub</span></a>
            </li>
          </ul>
        </section>
      </section>
    </footer>

    <!-- Copyright -->
    <div id="copyright">
      <ul>
        <li>&copy; Zoiet</li>
        <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>

  </div>

  <!-- Scripts -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery.scrollex.min.js"></script>
  <script src="../assets/js/jquery.scrolly.min.js"></script>
  <script src="../assets/js/browser.min.js"></script>
  <script src="../assets/js/breakpoints.min.js"></script>
  <script src="../assets/js/util.js"></script>
  <script src="../assets/js/main.js"></script>

</body>

</html>