.pomodoro-background {
    display: relative;
    position: flex;
    border-radius: 4px;
    flex-direction: row;
    background: #2d2d2d;
    color: white;
    margin: 10px;
    padding: 5px;
  }
  
  .pomodoro-div {
    background: #3d3d3d;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
  }
  
  .pomodoro-title {
    font-size: 16px;
    font-weight: 600;
  }
  
  .pomodoro-body {
    font-size: 14px;
    font-weight: 400;
  }
  
  .pomodoro-timer {
    font-size: 36px;
    font-weight: 600;
  }
  
  mat-button-toggle:hover {
    cursor: pointer;
    background: #2d2d2d;
    border: medium none;
    border-radius: 4px;
    margin: 0px;
  }
  
  mat-stroked-button {
    background: #2d2d2d;
    font-size: 14px;
  }
  
  mat-stroked-button:hover {
    background: #2d2d2d;
    color: white;
    font-size: 14px;
  }
  